.bg-cover {
    background-image: url('temperature.jpg');
    background-repeat: no-repeat;
	background-size: cover; /* Resize the background image to cover the entire container */

}


h1{
	color: white;
}